@charset "UTF-8";
        body{
            background-color: rgb(220, 255, 219);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px; }
            h1 {
            color:rgb(255, 8, 111);
            background-color: rgb(255, 208, 236);
            }
            h2{
            color:rgb(199, 16, 255)
            }
            p{
            text-align: justify;
            
        }
